.product {
  width              : 200px;
  height             : 200px;
  border             : 1px solid;
  backgroundSize     : contain;
  backgroundPosition : center;
  backgroundRepeat   : no-repeat;
}
